<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/">
        <!-- <input name="text"> -->
        <textarea name="code" id="text-area" cols="10" rows="30"></textarea>
        <!-- <input type="submit" value="submit">Optimize  -->
        <button type="submit" value="submit">Optimze the code rn</button>
    </form>
    {% if opti %}
    <p>you code is {{opti}}</p>
    {% end if %}
</body>
</html>